{% extends 'base.html.twig' %}

{% block title %}Tous nos biens !{% endblock %}

{% block body %}

<div class="container" style="margin-top: 10px;">
    <h1>Voir mes annonces </h1>
</div>
{% endblock %}
